import os


DEEPSEEK_API_KEY=your_deepseek_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
QDRANT_API_KEY=your_qdrant_api_key_here
LANGSMITH_API_KEY=your_langsmith_api_key_here
os.environ["LANGSMITH_API_KEY"] = "your_langsmith_api_key_here"
